<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/item/create">Create Item</a>
      <a href="/category/create">Create Category</a>
    </nav>
    <h1><%= title %></h1>
        <div class="content">

           <form action="" method="post">
            <input type="submit" value="delete">
           </form>



            
        </div>
  </body>
</html>